In [1]:
import pandas as pd
import re

In [2]:
df_raw = pd.read_csv("C:/Users/Janak ARORA/Desktop/Ironhack_files/Week_7/Day1/machine_learning_project/data/raw/Amazon.csv")
df_raw.head()

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2142167822.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("C:/Users/Janak ARORA/Desktop/Ironhack_files/Week_7/Day1/machine_learning_project/data/raw/Amazon.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [3]:
df_raw.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [4]:
df_raw.shape

(128975, 24)

In [5]:
df_raw.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [6]:
df_raw['Qty'].unique()

array([ 0,  1,  2, 15,  3,  9, 13,  5,  4,  8])

In [7]:
df_raw = df_raw.drop(columns=["index", "Unnamed: 22", "Sales Channel ", "currency", "fulfilled-by", "ship-country", "promotion-ids"])
df_raw.head()

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False

In [8]:
df_raw.isnull().sum()

Order ID                 0
Date                     0
Status                   0
Fulfilment               0
ship-service-level       0
Style                    0
SKU                      0
Category                 0
Size                     0
ASIN                     0
Courier Status        6872
Qty                      0
Amount                7795
ship-city               33
ship-state              33
ship-postal-code        33
B2B                      0
dtype: int64

In [9]:
df_cleaned = df_raw.dropna()

In [10]:
df_cleaned.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
B2B                   0
dtype: int64

In [11]:
df_cleaned.shape

(116016, 17)

In [12]:
df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"], errors="coerce")

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\3508508436.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"], errors="coerce")
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\3508508436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"], errors="coerce")

In [13]:
df_cleaned.dtypes

Order ID                      object
Date                  datetime64[ns]
Status                        object
Fulfilment                    object
ship-service-level            object
Style                         object
SKU                           object
Category                      object
Size                          object
ASIN                          object
Courier Status                object
Qty                            int64
Amount                       float64
ship-city                     object
ship-state                    object
ship-postal-code             float64
B2B                             bool
dtype: object

In [14]:
df_cleaned["Order ID"] = df_cleaned["Order ID"].str.replace("-", "", regex=False)

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2792898832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Order ID"] = df_cleaned["Order ID"].str.replace("-", "", regex=False)

In [15]:
df_cleaned.head()

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
1,17191981511101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.0,BENGALURU,KARNATAKA,560085.0,False
2,40406876767273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,True
4,40710697907240320,2022-04-30,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.0,CHENNAI,TAMIL NADU,600073.0,False
5,40414909844578765,2022-04-30,Shipped,Amazon,Expedited,SET264,SET264-KR-NP-XL,Set,XL,B08YN7XDSG,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,201102.0,False
6,40857484996859555,2022-04-30,Shipped,Amazon,Expedited,J0095,J0095-SET-L,Set,L,B08CMHNWBN,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,160036.0,False

In [16]:
df_cleaned.to_csv("cleaned_amazon_data.csv", index=False)

### Clean City Column

In [17]:
df_cleaned["ship-city"].unique()

array(['BENGALURU', 'NAVI MUMBAI', 'CHENNAI', ...,
       'GULABPURA, Distt BHILWARA', 'Prayagraj (ALLAHABAD)', 'Halol'],
      shape=(8499,), dtype=object)

In [18]:
unique_cities = sorted(df_cleaned["ship-city"].dropna().unique())
len(unique_cities), unique_cities[:50]

(8499,
 ['(Chikmagalur disterict).     (N.R pur thaluku)',
  '(Via Cuncolim)Quepem,South Goa',
  ',HYDERABAD',
  ',raibarely road faizabad (Ayodhya)',
  '..katra',
  '.Gannavaram',
  '.azamgarh',
  '1',
  '116  B. P. M. B SARANI, UTTARPARA KOTRUNG',
  '6th mile tadong',
  '7BARASAT',
  'AAMBY VALLEY',
  'ABHAYAPURI',
  'ABHAYAPURI, Bongaigaon',
  'ABOHAR',
  'ABU ROAD',
  'ACHALPUR',
  'ACHAMPET',
  'ACHANTA',
  'ACHARAPAKKAM',
  'ACHHNERA',
  'ADALAJ',
  'ADAMPUR',
  'ADAPUR',
  'ADBHAR',
  'ADDAKAL',
  'ADDANKI',
  'ADICHANALLOOR',
  'ADILABAD',
  'ADINAD',
  'ADIPUR, GANDHIDHAM',
  'ADITYANA',
  'ADITYAPUR',
  'ADONI',
  'ADOOR',
  'ADOOR, vaddakkedathu cavu',
  'ADRA',
  'AFZALGARH',
  'AGAR',
  'AGAR Malwa',
  'AGARTALA',
  'AGATTI',
  'AGIRIPALLE',
  'AGRA',
  'AGRA 282005',
  'AHERI',
  'AHIWARA',
  'AHMADNAGAR',
  'AHMADNAGARA',
  'AHMADPUR'])

In [19]:
# Step 1: normalize city text
def normalize_city(city):
    city = str(city).lower().strip()
    city = re.sub(r"[^a-z\s]", " ", city)   # remove symbols/numbers
    city = re.sub(r"\s+", " ", city)        # collapse spaces
    return city

def camel_with_space(city):
    return " ".join(word.capitalize() for word in city.split())
    
# Step 2: explicit duplicate / variant city merges
city_mapping = {
    # Bangalore
    "bengaluru": "bangalore",
    "banglore": "bangalore",
    "blr": "bangalore",

    # Delhi NCR
    "new delhi": "new delhi",
    "delhi ncr": "delhi",
    "ncr": "delhi",

    # Mumbai
    "bombay": "mumbai",
    "andar": "mumbai",
    "andhari": "mumbai",
    "andheri": "mumbai",
    "andheri e": "mumbai",
    "andheri east": "mumbai",
    "andheri east mumbai": "mumbai",
    "andheri west mumbai": "mumbai",
    
    # Chennai
    "madras": "chennai",

    # Kolkata
    "calcutta": "kolkata",

    # Hyderabad
    "secunderabad": "hyderabad",

    # Kerala
    "cochin": "kochi",
    "trivandrum": "thiruvananthapuram",

    # Gurgaon / Gurugram
    "gurugram": "gurgaon",

    # Noida
    "greater noida": "noida",
    "noida greater noida": "noida"
}

df_cleaned["ship-city"] = df_cleaned["ship-city"].apply(normalize_city)
df_cleaned["ship-city"] = df_cleaned["ship-city"].replace(city_mapping)
df_cleaned["ship-city"] = df_cleaned["ship-city"].apply(camel_with_space)

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2987929465.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-city"] = df_cleaned["ship-city"].apply(normalize_city)
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2987929465.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-city"] = df_cleaned["ship-city"].replace(city_mapping)
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2987929465.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-city"] = df_cleaned["ship-city"].apply(camel_with_space)

In [20]:
cleaned_unique_cities = sorted(df_cleaned["ship-city"].unique())

print("Unique cities BEFORE:", len(unique_cities))
print("Unique cities AFTER:", len(cleaned_unique_cities))
cleaned_unique_cities

Unique cities BEFORE: 8499
Unique cities AFTER: 6554

['',
 'Aalo',
 'Aamby Valley',
 'Abhayapuri',
 'Abhayapuri Bongaigaon',
 'Abohar',
 'Abu Road',
 'Aburoad',
 'Achalpur',
 'Achampet',
 'Achanta',
 'Acharapakkam',
 'Achhnera',
 'Adajan Gam Surat',
 'Adalaj',
 'Adambakkam',
 'Adampur',
 'Adapur',
 'Adarsh Nagar Jaipur',
 'Adbhar',
 'Addakal',
 'Addanki',
 'Addanki Mandal Bapatl District',
 'Addision Nagar Mangadu',
 'Adichanalloor',
 'Adilabad',
 'Adimaly',
 'Adinad',
 'Adipur',
 'Adipur Gandhidham',
 'Adityana',
 'Adityapur',
 'Adityapur Jamshedpur',
 'Adoni',
 'Adoor',
 'Adoor Vaddakkedathu Cavu',
 'Adra',
 'Adyal',
 'Afzalgarh',
 'Agar',
 'Agar Malwa',
 'Agarpara',
 'Agartala',
 'Agarwada',
 'Agatti',
 'Agiripalle',
 'Agorpara',
 'Agra',
 'Ahemadabad',
 'Ahemdabad',
 'Ahemedabad',
 'Aheri',
 'Ahiwara',
 'Ahmadabad',
 'Ahmadnagar',
 'Ahmadnagara',
 'Ahmadpur',
 'Ahmdabad',
 'Ahmed Nagar',
 'Ahmedabad',
 'Ahmedabadvasna',
 'Ahmedanagar',
 'Ahmednagar',
 'Ahmedpur',
 'Ahore',
 'Aimanam',
 'Ainavilli Mandal East Godhavari',
 'Airoli',
 'Airoli Navi Mumbai',
 'Airoli Navimumbai',
 'Aizawl',
 'Ajaygarh',
 'Ajekar',
 'Ajmer',
 'Ajnala',
 'Akalgarh',
 'Akash Nagar Annexe Manimedu',
 'Akathiyoor',
 'Akbarpur',
 'Akbarpur Near Kanpur',
 'Akhnoor',
 'Akividu',
 'Akkalkuwa',
 'Akola',
 'Akole Ahmadnagar District',
 'Akot',
 'Akurdi',
 'Ala',
 'Alagappapuram',
 'Alagappapuram Kanyakumari District',
 'Alaipur',
 'Alamcode',
 'Alamcode Malappuram District',
 'Alamcode Vanchiyoor Thiruvananthapuram District',
 'Alampur Kangra',
 'Alamuru',
 'Aland',
 'Alandi',
 'Alandi Pune',
 'Alangad',
 'Alangad Via',
 'Alangayam',
 'Alangulam Tirunelveli District',
 'Alanthurai',
 'Alappuzha',
 'Alappuzha Harippad',
 'Alapuzha Kayamkullam',
 'Alapuzhya',
 'Alathur',
 'Alawalpur',
 'Aldona',
 'Alibag',
 'Aligang Lucknow',
 'Aliganj',
 'Aligarh',
 'Alipore Kolkata',
 'Alipurduar',
 'Alipurduat',
 'Alirajpur',
 'Allagadda',
 'Allahabad',
 'Allahabad Prayagraj',
 'Allahganj',
 'Allapalli',
 'Allapra Perumbavoor',
 'Allapuzha',
 'Allavaram',
 'Alleppey',
 'Allipur',
 'Allur',
 'Almora',
 'Alnavar',
 'Alok City',
 'Along',
 'Alot',
 'Alto Dabolim',
 'Alto Porvorim',
 'Alur',
 'Aluva',
 'Aluva Ernakulam',
 'Aluva Ernakulam Dist',
 'Alwar',
 'Alwarkurichi',
 'Alwarpet Chennai',
 'Amadalavalasa',
 'Amalapuram',
 'Amalner',
 'Amalsad',
 'Amangal',
 'Amaravathi',
 'Amarkantak',
 'Amarpatan',
 'Amb',
 'Ambad',
 'Ambagarh Chowki',
 'Ambala',
 'Ambala Cantt',
 'Ambala City',
 'Ambalamedu',
 'Ambalapuzha',
 'Amballur',
 'Ambarnath',
 'Ambarnath E',
 'Ambarnath East',
 'Ambarnath West',
 'Ambasamudram',
 'Ambattur',
 'Ambedkar Nagar',
 'Ambedkarnager',
 'Ambegaon',
 'Ambejogai',
 'Ambepur',
 'Ambernath',
 'Ambernath E District Ambernath',
 'Ambernath East Dist Thane',
 'Ambernath West',
 'Amberpwt Hyderabad',
 'Ambikanagara',
 'Ambikapur',
 'Ambur',
 'Amdanga',
 'Ameenpur Hyderabad',
 'Amethi',
 'Amethi Sultanpur District',
 'Amila',
 'Amla',
 'Amlai',
 'Amlohri',
 'Ammapettai Erode District',
 'Ammapettai Thanjavur District',
 'Ampati',
 'Amrath',
 'Amravati',
 'Amreli',
 'Amritsar',
 'Amroha',
 'Amruthahalli Jakkur Post',
 'Amta',
 'Amtady',
 'Amtala',
 'Anadapuram',
 'Anaimalai',
 'Anakapalle',
 'Anakapalli',
 'Anakapalli Mandal',
 'Anakkayam',
 'Anand',
 'Anand Nagar',
 'Anandapur',
 'Anandpur Sahib',
 'Anantapalli',
 'Anantapur',
 'Anantapur District',
 'Ananthapur',
 'Ananthpur',
 'Anantnag',
 'Anantpur',
 'Anaparthy',
 'Anchal',
 'Ancharakandy',
 'Andal',
 'Andaman And Nicobar Islands Port Blair',
 'Andipalayam',
 'Andipatti',
 'Andipatti Jakkampatti',
 'Andoorkonam Trivandrum',
 'Andul',
 'Andul Howrah',
 'Andul Mouri',
 'Andul Near Maya Stores',
 'Anekal',
 'Angamalay',
 'Angamaly',
 'Angul',
 'Anil Neerkonda Hospital',
 'Anjangaon Surji',
 'Anjani Portland Cement Factory',
 'Anjar',
 'Anjuna',
 'Anjuna Bardez Go',
 'Anklav',
 'Ankleshwar',
 'Ankleshwar Dist Bharuch',
 'Ankleshwr',
 'Ankola',
 'Anna Nagar West Chennai',
 'Annamalai Nagar',
 'Annamalai Nagar Chidambaram',
 'Annamalai Nagar Chidhambaram',
 'Annamanada Trissur',
 'Annavaram',
 'Annur',
 'Anpara',
 'Anpara Sonebhadra',
 'Anta City',
 'Antah',
 'Anthiyur',
 'Anugul',
 'Anupgarh',
 'Anuppur',
 'Anupuram',
 'Anushaktinagar Mumbai',
 'Aonla',
 'Apiic Tada',
 'Appakudal',
 'Ara',
 'Arakandanallur',
 'Arakonam',
 'Aralvaimozhi',
 'Arambagh',
 'Arambol',
 'Arani',
 'Arani Thiruvallur District',
 'Arani Tiruvannamalai District',
 'Aranthangi',
 'Araria',
 'Arariya',
 'Arasu Nager Pc Patti Theni',
 'Arasur',
 'Arcot',
 'Areraj',
 'Argul Khordha',
 'Ariyallur',
 'Ariyalur',
 'Ariyalur D T',
 'Arjunda',
 'Arkalgud',
 'Arki',
 'Armoor',
 'Armori',
 'Armori Dist Gadchiroli',
 'Armur',
 'Arni',
 'Arnia',
 'Arnod',
 'Aroor',
 'Arpora',
 'Arrah',
 'Arsikere',
 'Arumanai',
 'Aruppukkottai',
 'Aruppukottai',
 'Arvi',
 'Arvi Dist Wardha',
 'Arvi Wardha',
 'Arwal',
 'Aryanad Trivandrum',
 'Asansol',
 'Asansol West Barddhaman',
 'Asarganj',
 'Asaripallam',
 'Ashiana Nagar Patna',
 'Ashoknagar',
 'Ashrafpur Kichhauchha',
 'Ashta',
 'Asika',
 'Asind',
 'Aspur',
 'Assandh',
 'Assonora',
 'At Post Unai Ta Vansda Di Navsari',
 'Atarra',
 'Atchutapuram Apsez',
 'Ateli',
 'Athani',
 'Athirampuzha',
 'Athiyannur',
 'Athmallik',
 'Athni',
 'Atholi',
 'Athur Thoothukkudi District',
 'Athvelly',
 'Atkot',
 'Atmakur',
 'Atmakur Man Nellore Dist',
 'Atmakur Mangalagiri',
 'Atmakur Sri Potti Sriramulu',
 'Atreyapuram',
 'Atru',
 'Attabira Dist Bargarh',
 'Attayampatti',
 'Attilli',
 'Attingal',
 'Attingal Kochalumoodu',
 'Attur',
 'Atul',
 'Aundh Pune',
 'Aurad',
 'Auraiya',
 'Aurangabad',
 'Aurangbad',
 'Auroville',
 'Ausa',
 'Aut',
 'Avadi',
 'Avalapalli',
 'Avanigadda',
 'Avanyapuram Madurai',
 'Aversa',
 'Avinashi',
 'Avinashi Tirupur',
 'Avinissery',
 'Avittathur',
 'Awantipora',
 'Ayacode',
 'Ayan Kollan Kondan Po Rajapalayam Tk',
 'Ayodhya',
 'Ayodhya Faizabad',
 'Ayoor',
 'Ayothiapattinam',
 'Ayyampalayam',
 'Ayyampettai Thanjavur District',
 'Azamgarh',
 'Azara',
 'Azheekal Telephone Exchange',
 'Azhikode',
 'Azhikode Kannur',
 'Azhiyur',
 'B P M B Sarani Uttarpara Kotrung',
 'Baba Bakala',
 'Babai',
 'Babarpur Ajitmal',
 'Baben',
 'Baberu',
 'Babhaleshwar',
 'Babra',
 'Babrala',
 'Babugarh',
 'Bacheli',
 'Bachhraon',
 'Bachra',
 'Bachupally',
 'Bachupally Hyderabad',
 'Bada Bazar Sagar',
 'Badami',
 'Badarpur',
 'Badarpur Rly Town',
 'Badarwas',
 'Baddi',
 'Baddi Industrial Area',
 'Bade Bacheli',
 'Badepalle',
 'Badgam',
 'Badharghat',
 'Badi',
 'Badkagaw',
 'Badkulla',
 'Badlapur',
 'Badlapur East',
 'Badlapur Mumbai',
 'Badlapur Road',
 'Badlapur Thane',
 'Badlapur W',
 'Badlapur West',
 'Badli',
 'Badmal',
 'Badnagar',
 'Badnagar Jill Ujjain',
 'Badnapur',
 'Badnawar',
 'Badra',
 'Badsar',
 'Badshahpur Gurgaon',
 'Badvel',
 'Baga',
 'Bagalkot',
 'Bagalkote',
 'Bagasara',
 'Bagda',
 'Bagepalli',
 'Bageshwar',
 'Baggar',
 'Bagh Amberpet Hyderabad',
 'Baghpat',
 'Bagli',
 'Bagnan',
 'Bagodar',
 'Bagru',
 'Baguiati',
 'Baguiati Kolkata',
 'Baguihati',
 'Bahadarabad',
 'Bahadrabad Gas Plant Haridwar',
 'Bahaduargarh',
 'Bahadurgarh',
 'Bahadurpur',
 'Baharagora',
 'Baheri',
 'Bahirgram',
 'Bahjoi',
 'Bahraich',
 'Baidyabati',
 'Baidyabati Hooghly',
 'Baif Road Wagholi Pune',
 'Baiguinim Old Goa',
 'Baihar',
 'Baikunthpur',
 'Bail Hongal',
 'Bailhongal',
 'Bairgania',
 'Baisinga',
 'Baithalangso',
 'Bajajnagar Aurangabad',
 'Bajpe',
 'Bajrang Nagar Gali No Nagpur',
 'Bakani',
 'Bakhri',
 'Bakhtiarpur',
 'Bakreshwar Thermal Power Township',
 'Baksar',
 'Bakshi Ka Talab',
 'Bakulia',
 'Balachaur',
 'Balaghat',
 'Balangir',
 'Balapallam',
 'Balapur Midc',
 'Balaramapuram',
 'Balaramapuram Mudavoorpara',
 'Balarampur Puruliya District',
 'Balasinor',
 'Balasore',
 'Baldwara',
 'Balehonnur',
 'Baleshwar',
 'Balia',
 'Baliapur',
 'Balichak',
 'Balikuda',
 'Balimela',
 'Balipara',
 'Balipatna',
 'Balipatna Khurda',
 'Balkum Thane',
 'Ballabgarh',
 'Ballabhgarh',
 'Ballari',
 'Ballarpur',
 'Ballepalle',
 'Ballia',
 'Ballikurava',
 'Bally',
 'Bally Bally Station',
 'Balod',
 'Baloda Bazar',
 'Balodabazar',
 'Baloh',
 'Balotra',
 'Balrampur',
 'Balugaon',
 'Balumath',
 'Balurghat',
 'Balussery',
 'Bambolim',
 'Bambooflat',
 'Bamor',
 'Bamora',
 'Banagalore',
 'Banaganapalle',
 'Banaganapalli',
 'Banaganapalli Kurnool',
 'Banapur',
 'Banasthali',
 'Banaswadi Bengaluru',
 'Banbasa',
 'Banda',
 'Bandel',
 'Bandhawagarh',
 'Bandhbahal',
 'Bandia',
 'Bandikui',
 'Bandipur',
 'Bandra East Mumbai',
 'Bandra Kurla Complex Mumbai',
 'Bandra West Mumbai',
 'Baner Pune',
 'Banga',
 'Bangalore',
 'Bangalore City',
 'Bangalore Karnataka',
 'Bangalore North',
 'Bangalore North Vidyaranyapura Post',
 'Bangalore Rural',
 'Bangalore South',
 'Bangalore Urban',
 'Bangaluru',
 'Bangaon',
 'Bangarapet',
 'Bangarupalyam',
 'Bangihati Po Mallickpara Serampore',
 'Bangla Chouraha',
 'Bangluru',
 'Banguwan Kalan',
 'Banjara Hills Hyderabad',
 'Banka',
 'Bankapura',
 'Bankhedi',
 'Banki Barabanki',
 'Banki Mongra',
 'Bankimnagar',
 'Bankra',
 'Bankura',
 'Bannanje Udupi',
 'Bansberia',
 'Bansda',
 'Bansdih',
 'Bansgaon',
 'Bansi',
 'Banswada',
 'Banswara',
 'Banthra',
 'Bantval',
 'Bantwa',
 'Bantwal',
 'Bantwal Dakshina Kannada',
 'Bantwal T Q',
 'Banumukkala',
 'Banur',
 'Bapatla',
 'Bapu Nagar Sanjeeva Reddy Nagar Hyderabad',
 'Bapunagar Ahmedabad',
 'Bara Gaon',
 'Bara Jumla',
 'Barabanki',
 'Barabungallow',
 'Baragaon',
 'Barahat',
 'Barakar',
 'Baram',
 'Baramati',
 'Baramati Pune',
 'Baramkela',
 'Baramula',
 'Baran',
 'Barang Dadhapatna',
 'Barapali',
 'Barara',
 'Barasat',
 'Barasat I',
 'Barasst',
 'Barauli',
 'Barauni Ioc Township',
 'Baraut',
 'Barbigha',
 'Barbil',
 'Bardez',
 'Bardhaman',
 'Bardoli',
 'Bareilly',
 'Bareilly Cantt',
 'Bareja',
 'Barendrapara Near Avinandan Furniture Po Sonarpur',
 'Bargarh',
 'Bargarh District',
 'Bargawan',
 'Bargur',
 'Barh',
 'Barh Patna',
 'Barhaj',
 'Barhalganj',
 'Barhani Bazar',
 'Barhi',
 'Bari',
 'Baripada',
 'Barkagaw',
 'Barkakana',
 'Barmana',
 'Barmer',
 'Barnala',
 'Baroda',
 'Barotiwala Industrial Area',
 'Barpeta',
 'Barpeta Road',
 'Barrackpor',
 'Barrackpore',
 'Barrackpore Kolkata',
 'Barshi',
 'Barsur',
 'Barughutu',
 'Baruipur',
 'Baruni',
 'Barwaha',
 'Barwala',
 'Barwani',
 'Basavakalyan',
 'Basavana Bagevadi',
 'Basavanabagevadi Vijapura',
 'Basirhat',
 'Basmath',
 'Basoda',
 'Bassein',
 'Bassi Jaipur',
 'Bassi Pathana',
 'Basti',
 'Bastora Mapusa',
 'Basudebpur',
 'Basudebpur Bhadrak',
 'Basudebpur Murshidabad District',
 'Basudevpur',
 'Batala',
 'Bathalapalle',
 'Bathery',
 'Bathinda',
 'Batika',
 'Batlagundu',
 'Batlahalli Chintamani Taluk Chikkaballapur Dist',
 'Bavdhan Pune',
 'Bavla',
 'Bawal',
 'Bayad',
 'Bayyanagudem',
 'Bazpur',
 'Bcs New Shimla',
 'Beas',
 'Beawar',
 'Beawer',
 'Bedi',
 'Beed',
 'Beet Bazar',
 'Begamganj',
 'Begowal',
 'Begumpet Hyderabad',
 'Begusarai',
 'Begusarai District',
 'Behala Kolkata',
 'Behat',
 'Behea',
 'Behind Ganesh Temple Civil Line Chandrapur',
 'Behrampur',
 'Behror',
 'Bela Pratapgarh',
 'Belagavi',
 'Belagavi Shedbal',
 'Belda',
 'Beldanga',
 'Belgaum',
 'Belgharia',
 'Belgharia Kolkata',
 'Belgharia Nimta',
 'Belghoria',
 'Belghria',
 'Beliatore',
 'Bellampalle',
 'Bellare Village And Post',
 'Bellary',
 'Belpahar',
 'Beltangadi',
 'Belthangadi',
 'Belthara Road',
 'Beltola Guwahati',
 'Belur',
 'Bemili',
 'Benaulim',
 'Bengalooru',
 'Bengalore',
 'Bengalur',
 'Bengalure',
 'Bengaluru',
 'Bengaluru Devnahalli',
 'Bengaluru East',
 'Bengaluru North',
 'Bengaluru Rural',
 'Bengaluru Rural Dist',
 'Bengaluru South',
 'Bengalurubangalore',
 'Bengoloor',
 'Benipatti',
 'Benipur',
 'Berhampore',
 'Berhampur',
 'Berhampur Ganjam',
 'Beri',
 'Bermo',
 'Bestawaripeta',
 'Betalbatim',
 'Bethuadahari',
 'Bethuadharai',
 'Betim Bardez',
 'Bettiah',
 'Bettiyah',
 'Betul',
 'Betul Bazar',
 'Bewar',
 'Beyond Th Sector C H B Jodhpur',
 'Beypore',
 'Bhabhar',
 'Bhabua',
 'Bhachau',
 'Bhadarva',
 'Bhaderwah',
 'Bhadohi',
 'Bhadra',
 'Bhadrachalam',
 'Bhadrak',
 'Bhadravati',
 'Bhadreswar',
 'Bhagalpur',
 'Bhagya Nagar Koppal',
 'Bhainsa',
 'Bhainsdehi',
 'Bhakali',
 'Bhakali Rewari',
 'Bhalki',
 'Bhalwal',
 'Bhamragad Gadchiroli',
 'Bhandara',
 'Bhandara Midc',
 'Bhander',
 'Bhandup East',
 'Bhandup East Mumbai',
 'Bhandup Mumbai',
 'Bhandup West Mumbai',
 'Bhanger',
 'Bhanjanagar',
 'Bhanpura',
 'Bharatganj',
 'Bharatpur',
 'Bharatpur Bhubaneswar',
 'Bharsingi',
 'Bharthana',
 'Bharuch',
 'Bharwari',
 'Bhatapara',
 'Bhatgaon',
 'Bhatinda',
 'Bhatkal',
 'Bhatkal Uttara Kannada',
 'Bhatkuli',
 'Bhatni Bazar Deoria',
 'Bhatpar Rani',
 'Bhatpara',
 'Bhattanagar Liluah Howrah',
 'Bhavani',
 'Bhavanisagar',
 'Bhavnagar',
 'Bhawan Bahadur Nagar',
 'Bhawani Mandi',
 'Bhawanipatna',
 'Bhayandar East',
 'Bhayandar West',
 'Bhayander E Thane',
 'Bhayander East',
 'Bhayander Easy',
 'Bhayander West',
 'Bheem',
 'Bheemunipatanm',
 'Bheemunipatnam',
 'Bhel Haridwar',
 'Bhikhiwind',
 'Bhilad',
 'Bhilai',
 'Bhilai Charoda Dist Durg',
 'Bhilai District Durg',
 'Bhilai Durg',
 'Bhilai Nagar',
 'Bhiloda',
 'Bhilwara',
 'Bhimadole',
 'Bhimavaram',
 'Bhimtaal',
 'Bhimtal',
 'Bhind',
 'Bhinder',
 'Bhinga',
 'Bhinmal',
 'Bhisiana',
 'Bhitarwar',
 'Bhiwadi',
 'Bhiwandi',
 'Bhiwani',
 'Bhiwapur',
 'Bhogaon',
 'Bhogapuram',
 'Bhognipur',
 'Bhojipura',
 'Bhojipura Bareilly',
 'Bhojpur',
 'Bhokar',
 'Bholar Dabri',
 'Bhongir',
 'Bhopal',
 'Bhor',
 'Bhoranj',
 'Bhosari Pune',
 'Bhota',
 'Bhowali',
 'Bhubaneshwar',
 'Bhubaneshwar Odisha',
 'Bhubaneswar',
 'Bhubaneswar Khordha',
 'Bhubaneswarb',
 'Bhugaon',
 'Bhugaon Mulshi Road',
 'Bhugaon Pune',
 'Bhuj',
 'Bhulepur',
 'Bhuntar',
 'Bhunter',
 'Bhupalpalle',
 'Bhuragaon',
 'Bhusawal',
 'Bhushan Steel Plant Meramandali Township',
 'Bhuvanagiri',
 'Biaora',
 'Bibinagar Hyderabad',
 'Biccavolu',
 'Bicholim',
 'Bid',
 'Bidadi',
 'Bidar',
 'Bidasar',
 'Bidhan Nagar',
 'Bidhan Nagar Kolkata',
 'Bihar',
 'Bihar Sharif',
 'Biharsharif',
 'Bihpuria',
 'Bihta',
 'Bihta Begusarai District',
 'Bihta Patna District',
 'Bijainagar Ajmer District',
 'Bijapur',
 'Bijauli Industrial Area',
 'Bijbehara',
 'Bijnor',
 'Bijpur',
 'Bijuri',
 'Bikaner',
 'Bikapur',
 'Biknoor',
 'Bikram',
 'Bikramganj',
 'Bilandapur',
 'Bilaspur',
 'Bileipada',
 'Bilgram',
 'Bilha',
 'Bilhaur',
 'Bilimora',
 'Bina',
 'Bindki',
 'Bindki Fatehpur',
 'Binnaguri',
 'Binola Industrial Area',
 'Binpur I',
 'Biramitrapur',
 'Birati Kolkata',
 'Birbhum',
 'Birpara Tea Garden',
 'Birpur',
 'Birur',
 'Bisalpur',
 'Bishama Katak',
 'Bishnugarh',
 'Bishnupur',
 'Bishnupur Bankura District',
 'Bishrampur',
 'Bishunipur',
 'Biswan',
 'Biswanath',
 'Biswanath Chariali',
 'Biswanath Chariali Biswanath',
 'Bit Campus Mesra Ranchi',
 'Bobbili',
 'Bodakdev Ahmedabad',
 'Bodeli',
 'Bodh Gaya',
 'Bodhan',
 'Bodinayakanur',
 'Bodinayakanur Theni Dt',
 'Bodri',
 'Boduppal',
 'Boduppal Hyderabad',
 'Boinchi',
 'Boisar',
 'Bokajan',
 'Bokakhat',
 'Bokaro',
 'Bokaro Steel City',
 'Bokaro Thermal',
 'Bokaro Thermal Township',
 'Boko',
 'Bolpur',
 'Bomdila',
 'Bommuru Rajahmundry',
 'Bonaigarh',
 'Bonda Banarpal',
 'Bongaigaon',
 'Bongaigaon Iocl Township',
 'Bongaigaon Rpcl Township',
 'Bongaon',
 'Boothapandi',
 'Bopal Ahmedabad',
 'Bopodi Pune',
 'Borai',
 'Borawar',
 'Bordi',
 'Borim',
 'Borivali East Mumbai',
 'Borivali Mumbai',
 'Borivali W Mumbai',
 'Borivali West Mumbai',
 'Borivali West Munbai',
 'Borka',
 'Borli Panchtan',
 'Borsad',
 'Botad',
 'Boudh',
 'Brahmapur',
 'Brahmapuri',
 'Brahmavar',
 'Brahmavar Udupi',
 'Brajarajnagar',
 'Bramhapuri',
 'Brg Shangri La Indore',
 'Buchireddipalem',
 'Buchireddipalem Nellore',
 'Budamangalam Thiruvarur District',
 'Budaun',
 'Budgam',
 'Budge Budge',
 'Budhana',
 'Budhlada',
 'Budhuwari Korba',
 'Budni',
 'Buhana',
 'Bulandshahr',
 'Buldana',
 'Buldhana',
 'Bundia',
 'Bungal',
 'Burari',
 'Burdwan',
 'Burhanpur',
 'Burhar',
 'Burla',
 'Butibori',
 'Butibori Midc',
 'Butibori Nagpur',
 'Buttayagudem',
 ...]

In [21]:
df_cleaned["ship-city"].value_counts()

ship-city
Bangalore                                 12297
Hyderabad                                  8819
Mumbai                                     6642
New Delhi                                  5767
Chennai                                    5760
                                          ...
Talcher Thermal Power Station Township        1
Limla                                         1
Marancheri                                    1
Ambepur                                       1
Hyderabad Shamshabad                          1
Name: count, Length: 6554, dtype: int64

### Clean State Column

In [22]:
df_cleaned["ship-state"].unique()

array(['KARNATAKA', 'MAHARASHTRA', 'TAMIL NADU', 'UTTAR PRADESH',
       'CHANDIGARH', 'TELANGANA', 'ANDHRA PRADESH', 'RAJASTHAN', 'DELHI',
       'HARYANA', 'ASSAM', 'JHARKHAND', 'CHHATTISGARH', 'ODISHA',
       'KERALA', 'MADHYA PRADESH', 'WEST BENGAL', 'NAGALAND', 'Gujarat',
       'UTTARAKHAND', 'BIHAR', 'JAMMU & KASHMIR', 'PUNJAB',
       'HIMACHAL PRADESH', 'ARUNACHAL PRADESH', 'MANIPUR', 'Goa',
       'MEGHALAYA', 'PUDUCHERRY', 'GOA', 'TRIPURA', 'LADAKH',
       'DADRA AND NAGAR', 'SIKKIM', 'Delhi', 'ANDAMAN & NICOBAR ',
       'Punjab', 'Rajshthan', 'Manipur', 'rajasthan', 'Odisha', 'NL',
       'Bihar', 'MIZORAM', 'punjab', 'New Delhi', 'Rajasthan',
       'Punjab/Mohali/Zirakpur', 'Puducherry', 'delhi', 'RJ',
       'Chandigarh', 'orissa', 'LAKSHADWEEP', 'goa', 'PB',
       'Arunachal Pradesh', 'AR', 'Pondicherry', 'Sikkim',
       'Arunachal pradesh', 'Nagaland', 'bihar', 'Mizoram', 'rajsthan',
       'Orissa', 'Rajsthan'], dtype=object)

In [23]:
# Capture original unique states
original_states = sorted(df_cleaned["ship-state"].dropna().unique())

# Normalize state names
df_cleaned["ship-state"] = df_cleaned["ship-state"].astype(str).str.strip().str.lower()

# Known manual merges for common duplicates / variants
state_mapping = {
    # Abbreviations
    "pb": "Punjab",
    "rj": "Rajasthan",
    "ar": "Arunachal Pradesh",
    "up": "Uttar Pradesh",
    "tn": "Tamil Nadu",
    "nl": "Nagaland",
    "mh": "Maharashtra",

    # Misspellings / variants
    "rajsthan": "Rajasthan",
    "rajshthan": "Rajasthan",
    "orissa": "Odisha",
    "pondicherry": "Puducherry",
    "nct of delhi": "Delhi",

    # Combined locations
    "punjab/mohali/zirakpur": "punjab",

    # Symbol variants
    "andaman & nicobar": "Andaman And Nicobar",
    "andaman and nicobar islands": "Andaman And Nicobar",
    "dadra & nagar haveli": "Dadra And Nagar Haveli",
    "dadra and nagar haveli": "Dadra And Nagar Haveli",
    "daman & diu": "Daman And Diu",
    "jammu & kashmir": "Jammu And Kashmir",
    "jammu and kashmir": "Jammu And Kashmir",
    "odisha": "Odisha",
    "delhi": "Delhi",
    "rajasthan": "Rajasthan"
}

df_cleaned["ship-state"] = df_cleaned["ship-state"].replace(state_mapping)

def camel_case(text):
    words = text.replace("&", "and").replace("-", " ").split()
    return " ".join(word.capitalize() for word in words)

df_cleaned["ship-state"] = df_cleaned["ship-state"].apply(camel_case)

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2026754172.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-state"] = df_cleaned["ship-state"].astype(str).str.strip().str.lower()
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2026754172.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-state"] = df_cleaned["ship-state"].replace(state_mapping)
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\2026754172.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["ship-state"] = df_cleaned["ship-state"].apply(camel_case)

In [24]:
df_cleaned["ship-state"].unique()

array(['Karnataka', 'Maharashtra', 'Tamil Nadu', 'Uttar Pradesh',
       'Chandigarh', 'Telangana', 'Andhra Pradesh', 'Rajasthan', 'Delhi',
       'Haryana', 'Assam', 'Jharkhand', 'Chhattisgarh', 'Odisha',
       'Kerala', 'Madhya Pradesh', 'West Bengal', 'Nagaland', 'Gujarat',
       'Uttarakhand', 'Bihar', 'Jammu And Kashmir', 'Punjab',
       'Himachal Pradesh', 'Arunachal Pradesh', 'Manipur', 'Goa',
       'Meghalaya', 'Puducherry', 'Tripura', 'Ladakh', 'Dadra And Nagar',
       'Sikkim', 'Andaman And Nicobar', 'Mizoram', 'New Delhi',
       'Lakshadweep'], dtype=object)

## Calculating Sales Amount

In [25]:
# Ensure Qty and Amount are numeric

df_cleaned["Qty"] = pd.to_numeric(df_cleaned["Qty"], errors="coerce")
df_cleaned["Amount"] = pd.to_numeric(df_cleaned["Amount"], errors="coerce")

# Create new column: Sales Amount
df_cleaned["Sales Amount"] = df_cleaned["Qty"] * df_cleaned["Amount"]
df_cleaned.head()

C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\378499708.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Qty"] = pd.to_numeric(df_cleaned["Qty"], errors="coerce")
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\378499708.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Amount"] = pd.to_numeric(df_cleaned["Amount"], errors="coerce")
C:\Users\Janak ARORA\AppData\Local\Temp\ipykernel_14988\378499708.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Sales Amount"] = df_cleaned["Qty"] * df_cleaned["Amount"]

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B,Sales Amount
1,17191981511101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.0,Bangalore,Karnataka,560085.0,False,406.0
2,40406876767273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.0,Navi Mumbai,Maharashtra,410210.0,True,329.0
4,40710697907240320,2022-04-30,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.0,Chennai,Tamil Nadu,600073.0,False,574.0
5,40414909844578765,2022-04-30,Shipped,Amazon,Expedited,SET264,SET264-KR-NP-XL,Set,XL,B08YN7XDSG,Shipped,1,824.0,Ghaziabad,Uttar Pradesh,201102.0,False,824.0
6,40857484996859555,2022-04-30,Shipped,Amazon,Expedited,J0095,J0095-SET-L,Set,L,B08CMHNWBN,Shipped,1,653.0,Chandigarh,Chandigarh,160036.0,False,653.0

In [26]:
numerical_cols = df_cleaned.select_dtypes(include='number')
numerical_cols

        Qty  Amount  ship-postal-code  Sales Amount
1         1   406.0          560085.0         406.0
2         1   329.0          410210.0         329.0
4         1   574.0          600073.0         574.0
5         1   824.0          201102.0         824.0
6         1   653.0          160036.0         653.0
...     ...     ...               ...           ...
128970    1   517.0          500013.0         517.0
128971    1   999.0          122004.0         999.0
128972    1   690.0          500049.0         690.0
128973    1  1199.0          389350.0        1199.0
128974    1   696.0          492014.0         696.0

[116016 rows x 4 columns]

#### Train Test Split

In [27]:
features = df_cleaned.drop(columns = ["Sales Amount"])
target = df_cleaned['Sales Amount']
print(target.head())

1    406.0
2    329.0
4    574.0
5    824.0
6    653.0
Name: Sales Amount, dtype: float64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

In [30]:
X_train.head()

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
55752,40616194968051549,2022-05-26,Shipped,Amazon,Expedited,J0301,J0301-TP-XXL,Top,XXL,B099S8X47K,Shipped,1,518.0,Nashik,Maharashtra,422009.0,False
105768,40889291681804365,2022-06-17,Shipped - Delivered to Buyer,Merchant,Standard,JNE3798,JNE3798-KR-A-M,Western Dress,M,B09TH54761,Shipped,1,771.0,Duliajan,Assam,786602.0,False
116594,40239092481349115,2022-06-09,Shipped - Delivered to Buyer,Merchant,Standard,SET198,SET198-KR-NP-A-L,Set,L,B08L934XZ9,Shipped,1,523.0,Dhanbad,Jharkhand,826005.0,False
125405,40525720817062735,2022-06-03,Shipped,Amazon,Expedited,SET341,SET341-KR-NP-XL,Set,XL,B09NPX3HG3,Shipped,1,857.0,Tinsukia,Assam,786125.0,False
68137,40889515604200348,2022-05-16,Shipped - Delivered to Buyer,Merchant,Standard,J0005,J0005-DR-XXL,Western Dress,XXL,B08B3GTC12,Shipped,1,899.0,Lucknow,Uttar Pradesh,226031.0,False

In [31]:
y_train.head()

55752     518.0
105768    771.0
116594    523.0
125405    857.0
68137     899.0
Name: Sales Amount, dtype: float64

In [32]:
from sklearn.neighbors import KNeighborsRegressor

In [33]:
knn = KNeighborsRegressor(n_neighbors=10) # K = 10

In [35]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92812 entries, 55752 to 76164
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            92812 non-null  object
 1   Date                92812 non-null  datetime64[ns]
 2   Status              92812 non-null  object
 3   Fulfilment          92812 non-null  object
 4   ship-service-level  92812 non-null  object
 5   Style               92812 non-null  object
 6   SKU                 92812 non-null  object
 7   Category            92812 non-null  object
 8   Size                92812 non-null  object
 9   ASIN                92812 non-null  object
 10  Courier Status      92812 non-null  object
 11  Qty                 92812 non-null  int64
 12  Amount              92812 non-null  float64
 13  ship-city           92812 non-null  object
 14  ship-state          92812 non-null  object
 15  ship-postal-code    92812 non-null  float64
 16  B2B                 92812 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(12)
memory usage: 12.1+ MB

In [34]:
knn.fit(X_train, y_train)

TypeError: Cannot cast DatetimeArray to dtype float64

In [ ]:
print(f"The R2 of the model is {knn.score(X_test, y_test): .2f}")

In [ ]:
knn.predict(X_test)

In [ ]:
y_test.values