### 1. Importing and exploring the DataFrame

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df_amazon= pd.read_csv('../data/raw/Amazon.csv')
df_amazon.head()

/var/folders/lr/d46q9z0s2zndy_5npx2_zwq00000gn/T/ipykernel_6038/3559008451.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_amazon= pd.read_csv('../data/raw/Amazon.csv')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [3]:
df_amazon.shape

(128975, 24)

Columns information:

- **index** Internal row index imported by pandas; not part of the actual business data. 
- **Order ID** Unique identifier for each order or transaction. 
- **Date** Date the order was placed. Often stored as text and should be converted to `datetime`. 
- **Status** Current order status (e.g., Delivered, Cancelled, Returned). 
- **Fulfilment** Fulfilment method (Amazon vs. third-party seller). 
- **Sales Channel** Platform or channel where the sale occurred (e.g., Amazon marketplace, mobile app). 
- **ship-service-level** Shipping service level selected (standard, expedited, priority, etc.). 
- **Style** Product style or variant attribute (e.g., design, color). 
- **SKU** Stock Keeping Unit; internal product code for inventory tracking. 
- **Category** Product category or classification. 
- **Size** Size variant of the product. 
- **ASIN** Amazon Standard Identification Number; unique product identifier on Amazon. 
- **Courier Status** Shipment status from the courier’s perspective (e.g., in transit, delivered, delayed). 
- **Qty** Quantity of units ordered in the order line. 
- **currency** Currency code used for the transaction (e.g., USD, INR). 
- **Amount** Monetary value of the order line (total revenue for that line). 
- **ship-city** Destination city for shipping. 
- **ship-state** Destination state or region for shipping. 
- **ship-postal-code** Postal code of the shipping address. 
- **ship-country** Destination country for shipping. 
- **promotion-ids** Identifiers of applied promotions or discount campaigns, if any. 
- **B2B** Indicates whether the order is Business-to-Business (B2B) or retail. 
- **fulfilled-by** Entity responsible for fulfilment (Amazon, third-party seller, logistics partner). 
- **Unnamed: 22** Empty or unused column; CSV artifact with no data.

### 2. Cleaning names of columns

In [4]:
df_amazon.columns = (
    df_amazon.columns
      .str.lower()
      .str.normalize('NFKD')      
      .str.encode('ascii', errors='ignore')
      .str.decode('utf-8')
      .str.replace(' ', '_')
      .str.replace('[^0-9a-zA-Z_]', '')
)
df_amazon.head(5)

,index,order_id,date,status,fulfilment,sales_channel_,ship-service-level,style,sku,category,...,currency,amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,b2b,fulfilled-by,unnamed:_22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

### 3. Cleaning Data

Before analysis, we check:

- Missing values
- Duplicates
- Incorrect data types

#### 3.1 Missing values

In [5]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   order_id            128975 non-null  object
 2   date                128975 non-null  object
 3   status              128975 non-null  object
 4   fulfilment          128975 non-null  object
 5   sales_channel_      128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   style               128975 non-null  object
 8   sku                 128975 non-null  object
 9   category            128975 non-null  object
 10  size                128975 non-null  object
 11  asin                128975 non-null  object
 12  courier_status      122103 non-null  object
 13  qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  b2b                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  unnamed:_22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [6]:
df_amazon.isnull().sum()

index                     0
order_id                  0
date                      0
status                    0
fulfilment                0
sales_channel_            0
ship-service-level        0
style                     0
sku                       0
category                  0
size                      0
asin                      0
courier_status         6872
qty                       0
currency               7795
amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
b2b                       0
fulfilled-by          89698
unnamed:_22           49050
dtype: int64

In [15]:
df_amazon['currency'].unique()

array(['INR', nan], dtype=object)

In [12]:
df_amazon['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [20]:
df_amazon['ship-country'].unique()

array(['IN', nan], dtype=object)

In [21]:
df_amazon = df_amazon.drop(columns=["index", "sales_channel_", "currency", "ship-country", "fulfilled-by", "unnamed:_22"])

In [25]:
df_amazon.head(5)

,order_id,date,status,fulfilment,ship-service-level,style,sku,category,size,asin,courier_status,qty,amount,ship-city,ship-state,ship-postal-code,promotion-ids,b2b
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,NaN,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,NaN,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,NaN,False

In [26]:
df_amazon.isnull().sum()

order_id                  0
date                      0
status                    0
fulfilment                0
ship-service-level        0
style                     0
sku                       0
category                  0
size                      0
asin                      0
courier_status         6872
qty                       0
amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
promotion-ids         49153
b2b                       0
dtype: int64

In [28]:
df_amazon.shape

(128975, 18)

In [29]:
df_amazon = df_amazon.drop(columns=["promotion-ids"])

In [30]:
df_amazon = df_amazon.dropna()

In [31]:
df_amazon.shape

(116016, 17)

In [32]:
df_amazon.isnull().sum()

order_id              0
date                  0
status                0
fulfilment            0
ship-service-level    0
style                 0
sku                   0
category              0
size                  0
asin                  0
courier_status        0
qty                   0
amount                0
ship-city             0
ship-state            0
ship-postal-code      0
b2b                   0
dtype: int64

#### 3.2 Incorrect Data Types

In [33]:
df_amazon["date"] = pd.to_datetime(df_amazon["date"], errors="coerce")

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

/var/folders/lr/d46q9z0s2zndy_5npx2_zwq00000gn/T/ipykernel_6038/3914059586.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_amazon["date"] = pd.to_datetime(df_amazon["date"], errors="coerce")

In [34]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116016 entries, 1 to 128974
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            116016 non-null  object
 1   date                116016 non-null  datetime64[ns]
 2   status              116016 non-null  object
 3   fulfilment          116016 non-null  object
 4   ship-service-level  116016 non-null  object
 5   style               116016 non-null  object
 6   sku                 116016 non-null  object
 7   category            116016 non-null  object
 8   size                116016 non-null  object
 9   asin                116016 non-null  object
 10  courier_status      116016 non-null  object
 11  qty                 116016 non-null  int64
 12  amount              116016 non-null  float64
 13  ship-city           116016 non-null  object
 14  ship-state          116016 non-null  object
 15  ship-postal-code    116016 non-null  float64
 16  b2b                 116016 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(12)
memory usage: 15.2+ MB

#### 3.3 Duplicated Data

In [35]:
df_amazon.duplicated().sum()

np.int64(3)

In [ ]:
#df_amazon.drop_duplicates(inplace=True)

In [37]:
df_amazon.duplicated(subset= df_amazon.columns.difference(['order_id'])).sum()

np.int64(459)